/*
colors
@brand-primary  #DC5034 = #1 = TT Color 1 - red
@brand-success  #E98300 = #2 = TT Color 2 - orange
@brand-info     #9FCF67 = #3 = TT Color 3 - green md
@brand-warning  #C8DF8E = #4 = TT Color 4 - green lt
@brand-danger   #FCDA53 = #5 = TT Color 5 - yellow 

Grays
#2a2a2a - dk dk gray
#555    - dk gray
#808080 - md gray
#ABABAB - lt gray
#D5D5D5 - lt lt gray

gray
@gray-darker  = lighten(#000, 13.5%)
@gray-dark    = lighten(#000, 20%)
@gray         = lighten(#000, 33.5%)
@gray-light   = lighten(#000, 60%)
@gray-lighter = lighten(#000, 93.5%)
*/

/*Main*/

h1,h2,h3,h4,h5,h6,h7 {
    color:#000;
}
h1 {
    font-size:2.0em;
}
h2 {
    font-size:1.8em;
}
h3 {
    font-size:1.6em;
}
body {
	color: #000000;
	text-align: left;
	font-size: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#ffffff;
}
p {
    margin:1.0em 0;
}
a {
    color:#5d5d5d;
}
a:hover {
    color:#333;
    text-decoration:none;
}
.maxpg {
    max-width:1200px;
    margin:0 auto;
}
#main, #quicklink-wrap, #sidebar {
    background-color:white;
}
#callout {
    display:none;
    background-color:#9fcf67;
}
.flush {
    padding:0px !important;
}
/*Page*/

#page {
    background-color:white;
}
/*Top*/

#top {
    margin-top:1.0em;
    padding:3.0em 3.0em 2.0em 3.0em;
    background-color:white;
}
#top .phone {
	font-size: 1.5em;
	font-weight: 400;
    text-align: right;
}

#top .logo {
    
}

#top .logo a {
	display: block;
	width: 100%;
	height: 100%;
    padding:0;
    background-color:transparent;
}
#top .logo a:hover {
	display: block;
	background-color:transparent;
    opacity:0.7;
}
#callout {
    color:white;
    text-align:center;
}
/*Navigation*/
#navbar {
    background-color:#000;
    color:white;
    text-align: center; /* use only for centering nav items */
}
#menu-tt-main { /* use only for centering nav items */
    float:none;
    display: inline-block; 
}
.navbar-nav>li>a {
    padding-top:7px;
    padding-bottom:5px;
}
.navbar,
.nav-container {
    border-bottom:0px solid white;
    overflow:hidden;
}
.menu-social-media-container {
    height:45px;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
.navbar,
.navbar-default .navbar-brand {
    color:white;
}
.navbar ul {
    text-align:center;
}
.navbar-default .navbar-brand:hover {
    color:#333333;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #333333;
    border-radius: 4px;
}
.nav > li > a {
    color:white;
    text-decoration:none;
}
.nav > li > a:hover {
    color:white;
    background-color:#333333;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #333333;
    border-color: transparent;
}
.dropdown-menu li a {
    color:#333333;
    text-decoration:none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #333333;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: #000;
}
/*Callout*/
h3.callout-message {
    color:white;
    text-align:center;
}
/*Page Header*/
#page-header {
    height:5.0em;
}
#page-header h1 {
    font-family: "federico-web",cursive;
    font-size: 5.0em;
    padding:0.5em 0.0em;
}
/*Quicklinks*/
#quicklink-wrap {
    color:white;
    font-size:1.4em;
    text-align:center;
}
#quicklink-wrap a {
    color:white;
}
.quicklink:hover {
    background-color:#9fcf67;
    color:white;
    text-align:center;
}
#quicklink-wrap i {
    font-size:4.0em;
}
#quicklink-wrap h2 {
    color:white;
    font-size:1.5em;
    padding-bottom:0.5em;
}
.quicklink {
    padding:1.0em;
    overflow:hidden;
    background-color:#79a89b;
    transition: background-color 0.3s ease;
}
.qlhover {
    display:none;
    height:250px;
    width:100%;
}
.qlhover:hover {
    display:block;
    background-color:#0093d0;
    
}

.quicklink .go {
    display:none;
}

.quicklink:hover .go {
    display:block;
}
.quicklink:hover .now {
    display:none;
}
/*Content Main*/
#main {
}
#content,
#page-content {
        border-right:2px solid black;
}
#page-content-full {
        border-right:0px solid black;
}
#page-header #content {
    border:0px;
}
/*Posts*/
#home-feed a:hover {
    color:#333;
    text-decoration:none;
}
#home-feed h2:hover {
    color:white;
    background-color:black;
    text-decoration:none;
}
#home-feed .list-wrap {
    border-bottom:2px solid #333;
}
#home-feed .list-wrap:last-of-type {
    border-bottom:0px;
}
#home-feed a.more-link:hover {
    color:#fff;
    background-color:#333;
    text-decoration:none;
}
#home-feed a.more-link {
    color:white;
    background-color:gray;
    padding:0.3em 0.7em;
}

img.before,
img.after {
    float:left;
    width:50%;
}
img.before:hover,
img.after:hover {
    opacity:0.8;
}
.wpimagehover-wrapper {
    float:left;
}
.wpimagehover-wrapper img {
    width:50%;
    float:left;
}
.wpimagehover-overlay,
.wpimagehover-caption {
    width:50%;
}
/*Sidebar*/

.tt-hline {
    margin 1.0em 0em;
    border-bottom:2px solid black;
}

#sidebar {
    background-color:#fff;
    overflow:hidden;
}
#sidebar li {
    list-style-type:none;
}
#sidebar img {
    max-width:100%;
}
a.side-icon {
    text-align:center;
    padding:1.0em 1.0em;
    text-decoration:none;
}
/*Section Header*/
#section-header {
    background-color:#0093d0;
}
#section-header h2{
    font-size:2.0em;
    padding:1.0em 0;
    color:white;
    text-align:center;
}

#bucket-wrap {
    padding:1.0em 1.0em;
    background-color:white;
}
#bucket-wrap #bucket a {
    color:black;
    text-decoration:none;
}
#bucket-wrap #bucket a:hover {
    color:#9fcf67;
    text-decoration:none;
}
#bucket-wrap #bucket:hover {
    background-color:#dfe9f7;
}
#bucket-wrap #bucket h2 {
    text-align:center;
}
/*News*/
#bucket-wrap #bucket a .list-wrap .row h2{
    margin:0.3em 0;
    padding:0;
    text-align:left;
    font-size:1.0em;
    color:#000;
}
.news .list-wrap h2 a{
    color:#000;
}
.news .list-wrap{
    height:6.0em;
    margin:0em -1.0em;
    padding:1.0em 1.0em;
}
.news .list-wrap:hover{
    background-color:#c8df8e;
}
.list-wrap img {
    max-width:100%
}
.list-img {
    display:none;
    width:55px;
    height:55px;
    background-color:transparent;
    margin-right:0.5em;
    padding:0;
    overflow:hidden;
}
.list-img img{
    width:100%;
    align-self:center;
}
/*Footer*/
#footer-wrap {
    margin-top:1.0em;
    color:white;
    background-color:#000;
    height:40px;
}
#footer-col {
    padding:0.6em 1.0em;
    text-align:center;
}
#footer-col a{
    text-decoration:none;
    color:white;
}
#footer-col p{
    font-size:1.2em;
}
#footer-col a:hover{
    text-decoration:none;
    opacity:80;
}
#footer-col img{
    margin:0 auto;
}
#footer-wrap h2,
#footer-wrap h4 {
    color:white;
}
#copyright {
    color:#000;
    padding:1.0em;
}
#copyright a{
    color:#333333;
}
#copyright a:hover{
    color:#9fcf67;
}
/*Gallery*/
.ngg-gallery-thumbnail img {
    border:0px !important;
}
.ngg-album-compactbox .Thumb {
    margin: 0px !important;
    padding: 0px 0 0 0 !important;
    border: 0px solid black !important;
}
.ngg-album-compactbox {
    margin: 0 !important;
    padding: 0px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    border: 0px solid gray !important;
    border-radius: 0px;
    z-index: 1;
}
.ngg-album-compactbox:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -7px;
    border-bottom: 0px solid gray !important; 
    border-radius: 6px; 
    z-index: -1;
}
.ngg-album-compactbox:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    border-bottom: 0px solid gray !important;
    border-radius: 6px;
    z-index: -1;
}
.ngg-album-compact h4{
    margin: 0em;
}
.ngg-album-compact h4 a{
    font-size: 1.3em !important;
    padding:0.7em 0 0 0;
    font-weight: 200;
    margin: -2.0em 0 4.0em 0;
    text-align:center;
    color:#fff;
    position:relative;
    z-index:100;
    background-color:#000;
}
img.Thumb {
    z-index:1;
}
.ngg-album-compact h4 a:hover {
    text-decoration:none;
    background-color:#333;
    color:#fff;
}
.ngg-album-link:hover {
    opacity:0.6;
}
.ngg-album-gallery-image-counter {
    display:none;
}
/*TT Slider*/
.carousel {
    margin:15px auto;
    border:7px solid black;
    
}
.carousel-caption h2 {
    color:white;
    font-size:2.0em;
    margin-top:30%;
    margin-left:5%;
    margin-bottom:15px;
    text-align:left;
    
}
.carousel-caption p {
    color:white;
    font-size:1.5em;
    margin-top:30px;
    margin-left:5%;
    text-align:left;
    
}
.carousel-caption {
    position:absolute;
    top:30%;
    right: 0%;
    left: 0%;
    padding-top: 0%;
    background-color:transparent;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: 0%;
    font-size: 30px;
}
.carousel-control:hover {
    background-color:inherit;
    opacity:0.9;
}
#slider-tagline {
    font-family: "federico-web",serif;
    font-size:4.0em;
    width:40%;
    padding:1% 1% 1% 1%;
    margin:0 0 15% 0;
    color:black;
    background-color:white;
    opacity:0.7;
}
.carousel {
    height:500px;
    overflow: hidden;
}
.carousel-inner{
    
}

.carousel-inner>.active{
        
}
.carousel-inner>.next,
.carousel-inner>.prev{
    
}
.carousel .item {
    
}
.carousel-inner > .item > img{
    
}
.carousel-inner>.item>a>img {
}

/*Shop*/
/*Product single*/
.product_title {
    max-width:90%;
}
.attachment-shop_thumbnail {
    border:4px solid #ccc;
    margin-right:5px;
}
.attachment-shop_thumbnail:hover {
    border:4px solid #3b3b3c;
}
p.price{
    font-size:1.5em;
    color:#767676;
}
li.product h3 {
    font-size:1.2em;
}
.product span.onsale {
    padding:1.0em 2.0em;
    background-color:green;
    color:white;
    Float:right;
}
li.sale span.onsale {
    width:100%;
    padding:0.2em 1.0em;
    background-color:green;
    float:right;
}
li.sale img {
    margin:-1.0em 0 0 0;
    float:left;
}
del span.amount {
    color:#ccc;
}
ins span.amount {
    color:green;
    text-decoration:none;
    font-style:italic;
}
ins {
    text-decoration:none;
    margin:0 0 0 15px;
}
.quantity {
    padding:0.0em 1.0em 1.0em 0;
    margin:0.2em 0.2em 0.2em 0;
    float:left;
}
.product_meta {
    padding:1.0em;
    margin:1.0em 0 0 0;
    background-color:#ccc;
}
table.variations tr{
    background-color:#ccc;
    margin:1.0em 0;
    
}
table.variations .label {
    color:#3b3b3c;
}
label.variation-label {
    font-size:1.2em;
    padding:11px;
    margin-top:5px;
}
table.variations tr a {
    font-size:1.2em;
    padding:11px;
}
.single_variation {
    margin:1.0em 0;
}
.single_variation span.price {
    font-size:2.0em;
    color:#3b3b3c;
}
.single_variation span.amount{
    
}
input.qty {
    color:green;
    width:5.0em;
    height:3.5em;
    padding:0.2em;
}
.single_add_to_cart_button {
    background-color:#3b3b3c;
    color:white;
    border:0px;
    padding:1.0em;
    margin:0.2em;
    float:none;
}
.single_add_to_cart_button:hover {
    background-color:#3b3b3c;
    color:white;
}
ul.tabs {
    width:100%;
    height:27px;
    list-style-type:none;
    font-size:1.1em;
    color:#3b3b3c;
    margin:1.0em 0 0 0;
    border-bottom:4px solid #ccc;
}
ul.tabs li{
    color:#3b3b3c;
    float:left;
    margin:0 1px 0 0;
}
ul.tabs li a{
    color:#3b3b3c;
    padding:0.5em 1.0em;
    background-color:#ccc;
}
ul.tabs li a:hover{
    color:white;
    padding:0.5em 1.0em;
    background-color:#3b3b3c;
}
ul.tabs .active a{
    color:white;
    background-color:#3b3b3c;
}
.woocommerce-pagination {
}
.woocommerce-pagination ul.page-numbers {
    list-style-type:none;
}
.woocommerce-pagination ul.page-numbers li{
    float:left;
    margin: 0 5px 2.0em 0;
}
.page-numbers .current {
    background-color:#3b3b3c;
    color:white;
    padding:0.5em 1.0em;
}



.woocommerce-pagination ul.page-numbers li a{
    background-color:#ccc;
    padding:0.5em 1.0em;
}
.woocommerce-pagination ul.page-numbers li a:hover {
    background-color:#3b3b3c;
    color:white;
}


/*Shop Menu*/
.shop {
    border-right:0px;
    background-color:#6a6868;
}
li.shop > a{
    border-right:0px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #3b3b3c;
    border-color: transparent;
}
.current-menu-parent,
.shop .current-menu-ancestor .current-menu-parent a,
.current-menu-item{
    background-color:#3b3b3c;
}
.dropdown-menu li a {
    color:white;
    text-decoration:none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #767676;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: #3b3b3c;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3b3b3c;
    outline: 0;
}
/*Shoppe*/
.orderby {
    display:none;
}
.woocommerce-breadcrumb {
    padding:15px 0px 15px 0px;;
    text-align:center;
}

/*Products*/
.widget_products {
    background-color:transparent;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img{
    width:100px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.3);
}
.woocommerce ul.cart_list, .woocommerce ul.product_list_widget, .woocommerce-page ul.cart_list, .woocommerce-page ul.product_list_widget {
    background-color:transparent;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li {
    margin: 0 0 33px 0 !important;
}
ul.product_list_widget li {
    padding:0px !important;
    min-height:100px;
    background-color:#767676;
}
ul.product_list_widget li a {
    font-weight:400 !important;
    color:#ffffff;
    font-size:1.2em;
    padding:0.5em 0 68px 0.5em;
    height:auto;
}
ul.product_list_widget li a img {
    margin:-0.5em 0 0 0em;
    background-color:#ccc;
}
ul.product_list_widget li a:hover img {
    opacity:0.5;
}
ul.product_list_widget li a:hover {
    background-color:#3b3b3c;
}
ul.product_list_widget .amount {
    font-weight:400 !important;
    color:#ccc;
    font-size:1.5em;
    padding:0 0 0 0.5em;
    margin-top:-58px;
    float:left;
}
.woocommerce-breadcrumb {
    padding:1.0em 0 0.5em 2.0em;
}
ul.order_details {
    margin: 1.0em 0;
    padding:1.0em;
    list-style: none;
    background-color:#ccc;
}
ul.products {
    list-style-type:none;
    float:left;
    margin:0;
    padding:0;
}
ul.products li{
    float:left;
    margin:0;
/*    padding:0;*/
/*    min-height:375px;*/
}
ul.products li img{
    width:100%;
    margin:0;
    padding:0;
    min-height:150px;
}
ul.products li a h3{
    min-height:80px;
}
.available-on-backorder {
    color:#3b3b3c;
    float:right;
}
p.stock {
    color:#3b3b3c;
    float:right;
    padding-right:3.0em;
}
ul.products li span.price{
    
}
.woocommerce-tabs .panel {
    background-color:transparent;
    min-height:400px;
}


ul.products li span.amount{
    font-size:1.2em;
    margin:1.5em 0 0 0;
    padding:0.5em 0;
    color:#767676;
    clear:both;
}
ul.products li a.button{
    background-color:#3b3b3c;
    color:#ffffff;
    padding:0.5em;
    margin:0 0 0 1.0em;
    float:right;
}
ul.products li a.button:hover{
    background-color:#3b3b3c;
    
}
select.orderby {
    margin:1.0em 1.0em;
    padding:1.0em;
    float:right;
}
p.woocommerce-result-count {
    float:left;
}
ul.product-categories {
    margin:0;
    padding:0;
}
ul.product-categories li.cat-item {
    background-color:#767676;
    margin:0;
    padding:0.7em 0;
    border-bottom:1px solid #ccc;
}
ul.product-categories li.cat-item:hover {
    background-color:#3b3b3c;
    border-bottom:1px solid #ccc;
}
ul.product-categories li.cat-item a{
    color:#ccc;
    margin:0;
    padding:1.0em;
}
ul.product-categories a:hover{
    background-color:transparent;
    color:white;
}
ul.product-categories ul.children {
    background-color:#3b3b3c;
    margin:0;
    padding:0;
    border-bottom:1px solid #ccc;
}
ul.product-categories ul.children a {
    margin:0 0 0 1.0em;
}
ul.product-categories ul.children li.cat-item > ul.children li.cat-item a{
    color:white;
    margin:0 0 0 2.5em;
}

ul.product-categories ul.children li.cat-item a{
    background-color:transparent;
    content:">";
}
ul.product-categories ul.children li.cat-item:hover{
    background-color:#767676;
}
ul.product-categories ul.children li.cat-item:first-child{
    margin-top:0.5em;
}
ul.product-categories ul.children li.cat-item{
    background-color:#3b3b3c;
    padding:0.5em 0;
}
ul.product-categories ul.children a:before{
    content:"> ";
}
ul.product-categories li.current-cat,
ul.product-categories li.cat {
    background-color:#3b3b3c;
    padding-bottom:1.5em;
}

ul.product-categories ul.children li.current-cat {
    background-color:#3b3b3c;
}
ul.product-categories li.current-cat-parent {
    background-color:#a01318;
}
ul.product-categories ul.children li.current-cat a {
    color:white;
}
ul.product-categories ul.children li.cat-item > ul.children li.cat-item:hover,
ul.product-categories ul.children > li.cat-item:hover,
ul.product-categories > li.cat-item:hover{
    background-color:#3b3b3c;
    
}

/*Gallery*/

#wpbgallery_container {
    
}
#wpbgallery{
    
}
#wpbgallery li{
    float:left;
}
#wpbgallery li img{
    margin:0 15px 15px 0 !important;
    border:1px solid gray;
}
#wpbgallery li img:hover{
    border:1px solid #ccc;
    opacity:0.8;
}
/*TT Gallery Portfolio*/

.tt-gallery-wrap {
    overflow:hidden;
    border:1px solid gray;
    margin:0 0 1.0em 0;
}
.tt-gallery-img-wrap {
    overflow:hidden;
}
.tt-gallery-img-wrap img{
    
    width:100%;
    position:relative;
	left: 50%;
    -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.tt-gallery-wrap:hover {
    opacity:0.8;
}

.tt-gallery-left {
    background-color:black;
    height:200px;
}
.tt-gallery-right {
    background-color:white;
    height:200px;
}

.tt-gallery-text {
    font-size:1.2em;
}
.tt-gallery-caption {
    background-color:white;
    text-align:center;
}
.tt-gallery-caption h2 {
    font-size: 1.4em;
    color:gray;
}


/*Buttons*/

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3b3b3c;
    border-color: black;
}
/*Social Media Icons*/
#social-media-icons a{
    font-size:2.0em;
    margin-right:5px;
}

/* mobile ------------------------START------------------- */

@media only screen 
and (max-width : 768px) {
    
#social .pull-right {
}
#social {
    width:100%;
    padding:0 auto;
    text-align:center;
}    
#slider-wrap {
        display:none;
    }
.quicklink {
    height:auto;
    padding: 1.0em;
    overflow:visible;
    background-color: #79a89b;
    border-bottom:1px solid #79a89b;
}
.now, .go, .quicklink:hover .go {
    display:none;
}

} /* @media -------------END-----------------*/